* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-color: #1a8cff;
  background-size: cover;
}

.login-page {
  width: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: black;
}

.login-page h1  {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  margin: 40px 0;
}

.login-page p {
  font-size: 20px;
  margin: 15px 0;
}

.login-page input {
  font-size: 16px;
  width: 100%;
  padding: 15px 10px;
  border: 0;
  outline: none;
  border-radius: 5px;
}

.login-page button {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
  padding: 10px 15px;
  width: 50%;
  border-radius: 5px;
}
.button6 {
  background-color: #1c59e9;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
}

