html, body {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  margin:0;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Roboto', Arial, sans-serif;
}


.top-banner-Settings {
  background-color: #003399;
  height: 8vh;
}

.Setting-nav {
  position: relative;
  top: 30vh;
  margin: 0 auto;
  text-align: center;
}

.Setting-buttons {
  width: 90%;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  padding: 15px 32px;
  font-size: 20px;
  cursor: pointer;
}

#Log-in {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}


.Settings-text {
  float: left;
  color: grey;
  font-weight: bold;
}